:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  --footer-height: 60px;
  --logo-height: 8rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  border: none;
  border-radius: 0;

  margin: 0;
  padding: 0;
  width: auto;
  background: none;
  appearance: none;

  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}
